.dark-mode {
    background-color: #121212;
    color: #fff;
}

#DrLure-Logo{
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 10px;
}

.fs-4{
    color: #a18915;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

#DrLure-bold{
    padding: 0%;
    margin: 0%;
}

#nav-right .link-body-emphasis{
    margin-right: 10px;
    color: #a18915 !important;
}

.link-body-emphasis{
    color: #a18915;
}

.pricing-header{
    color: #a18915;
}

.border-bottom{
    border-bottom: 2px solid #a18915 !important;
}

#rule{
    border-top: 2px solid #a18915 !important;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
}

.table-responsive{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.table tr:last-child td,
.table tr:last-child th {
    border-bottom: none !important;

}
